body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main   
{
    width: 50%;
    text-align: center;
    align-items: center;
}




.encabezado 
{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #04146c;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 29pt;
}


main img {
    width: 600px;
}


main p {
    background-color: #edf7ff;
    color: #04146c;
    font-size: 18pt;
    font-family: 'Source Sans Pro', sans-serif;

}


main h1 
{
    font-size: 66pt;
    color: #04146c;
}

main h3 
{
    font-size: 20pt;
    font-family: 'Source Sans Pro', sans-serif;
    color: #04146c;
}