@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: left;
    
  }
  
  .imagen {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imagen img {
    width: 100px;
    margin-right: 20px;
    object-fit: contain;
    margin-top: -60px;
  }
  
  .texto {
    display: flex;
    flex-direction: column;
    width: 100px;
  }
  
  .texto h1 {
    white-space: nowrap;
    margin: 0;
    font-size: 16.17pt;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #0a2ff1;
    padding-bottom: 24px;

  }
  
  .texto h2 {
    margin: 0;
    font-size: 14.98pt;
    font-family: 'Mulish', sans-serif;
    color: #04146c;
    font-weight: 400;
    white-space: nowrap;
  }

  .spam {
    font-family: 'Mulish', sans-serif;
    font-size: 28.11pt;
    font-weight: 900;
    color: #04146c;
  }

  